
h1 {
    color: whitesmoke;
    text-align: center;
}
#game-board {
    clear: both;
    text-align: center;
    padding: 0;
}
#game-board img {
    width: 140px;
    height: 140px;
    margin-right:0px;
}

body {
    background-image: url(../img/background.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;

    color: whitesmoke;
}


h2 {
    font-size: 18px;
    text-align: center;
    padding: 0;
    margin: 0;
}

.stats {
    display: inline-block;
    margin-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
    /*background-color: blue;
    border-radius: 2px;*/

}

.newGameButton {
    -moz-box-shadow:inset 0px 0px 15px 3px #23395e;
    -webkit-box-shadow:inset 0px 0px 15px 3px #23395e;
    -moz-border-radius:17px;
    -webkit-border-radius:17px;
    box-shadow:inset 0px 0px 15px 3px #23395e;
    background-color:#2e466e;
    border-radius:17px;
    border:1px solid #1f2f47;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    padding:6px 13px;
    text-decoration:none;
    text-shadow:0px 1px 0px #263666;
}
.newGameButton:hover {
    background-color:#184aad;
}
.newGameButton:active {
    position:relative;
    top:1px;
}


#tile {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
}

#tile figure {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

#tile .front {
    background-image: url('img/tile-back.png');
}
#tile .back {
    background: url('img/' + tile.png); <!-- how to properly do this? -->
    transform: rotateY( 180deg );
}

#tile.switch {
    transform: rotateY( 180deg );
}